.bg-secondary-subtle .container .card .card-body .btn-primary:hover{
    background-color: #b4c6e0;
    outline-color: #b4c6e0;
    outline-style: auto;
}
.bg-secondary-subtle .container .card .card-body .btn-primary{
    background-color: #CEE1FE;
    outline-color: #CEE1FE;
    outline-style: auto;
}
.bg-secondary-subtle .container .card .card-body .btn-danger:hover{
    color: #655d74;
    background-color: #c0b0da;
    outline-color: #c0b0da;
    outline-style: auto;
}
.bg-secondary-subtle .container .card .card-body .btn-danger{
    color: #655d74;
    background-color: #e0cefe;
    outline-color: #e0cefe;
    outline-style: auto;
}